@page "{id}"
@model DetailModel
@{
    ViewData["Title"] = "Bots";
}

<div class="card shadow">

    <div class="card-header">
        <div class="d-flex justify-content-between">
            <div class="dpCardHeaderTitle"><h5><i class="bi-box"></i> Edit Bot</h5></div>
            <div class="dpCardHeaderControl">
                <form method="post">
                    <input type="hidden" asp-for="Bot.BotId" />
                    <input type="hidden" asp-for="Bot.Created" />
                    <a class="btn btn-outline-dark" href="~/bots/edit/@Model.Bot.BotId"><i class="bi-pencil-square"></i> Edit</a>
                    <a class="btn btn-outline-dark" href="~/groups"><i class="bi-arrow-left-square"></i> Back</a>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="dpDetailHeader"><i class="bi-bookmarks"></i> Detail</div>
                    <table class="table dpEditTable">
                        <tbody>
                            <tr>
                                <td>Bot Id</td>
                                <td>@Model.Bot.BotId</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>@Model.Bot.Name</td>
                            </tr>
                            <tr>
                                <td>Type</td>
                                <td>@Model.Bot.Type</td>
                            </tr>
                            <tr>
                                <td>Create Date</td>
                                <td>@Model.Bot.Created.UtcToLocalUserTime().ToString("dd.MM.yyyy HH:mm:ss")</td>
                            </tr>
                            <tr>
                                <td>Last Update</td>
                                <td>@Model.Bot.Updated.UtcToLocalUserTime().ToString("dd.MM.yyyy HH:mm:ss")</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-lg-6">
                    <div class="dpDetailHeader"><i class="bi-command"></i> Status</div>
                    <table class="table dpEditTable">
                        <tbody>
                            <tr>
                                <td>JSON</td>
                                <td>Bot.BotJson</td>
                            </tr>
                            <tr>
                                <td>Comment</td>
                                <td>Bot.Comment</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
    </div>
</div>

